/* coffee */

tr.d0 td {
    background-color: #ece9da; 
    font-family: verdana, arial, helvetica, sans-serif;
    font-size:   13px;
    line-height: 18px;
}
tr.d1 td {
    background-color: #f6f5ed; 
    font-family: verdana, arial, helvetica, sans-serif;
    font-size:   13px;
    line-height: 18px;
}
